body {
    margin: 0;
    padding: 0;
    background-color: rgba(230, 226, 215, 0.85);
}

body a {
    color:#25231C;
    text-decoration: none;
    padding-top: 5px;
}

a:hover {
    text-decoration: underline;
}

.wiki {
    display: flex;
    font-family: Roboto;
    color: #25231C;
    font-size: 1.2rem;
}

code {
    white-space: pre;
}

h1 {
    padding-top: 20px;
}

.main {
    margin: 10px 10px;
    padding: 15px 50px;
    flex: 4;
}

.main li {
    padding-top: 10px;
}

.search {
    width: 180px;
    line-height: 25px;
    padding: 5px;
    margin: 10px 30px;
    font-size: 1.2rem;
}

.sidebar {
    background-color: #D9D3C3;
    height: 100vh;
    min-width: 250px;
    padding: 20px;
    flex: 1;
}

.sidebar h2 {
    padding: 10px 30px;
}

.sidebar_link {
    font-weight: bold;
    padding: 5px 30px;
}

.button {
    padding: 10px 15px;
    border: 1px solid #776b3d;
    background-color: #B1995B;
    border-radius: 5%;
    color: #25231C;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.2rem;
}

.button:hover {
    text-decoration: underline;
}

.logo {
    font-family: Merriweather;
    font-weight: 900;
    font-size: 4rem;
    color: #B1995B;
    -webkit-text-stroke: 0.5px #25231C;
    text-shadow: 3px 0px 4px rgba(19, 19, 17, 0.25);
}

.logo:hover {
    text-decoration: none;
}

@media screen and (max-width: 770px) {
    .wiki {
        flex-direction: column;
    }
}