{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="wiki">
            <div class="sidebar">
                <h2><a class="logo" href="{% url 'index' %}">Wiki</a></h2>
                <form action="{% url 'search' %}">
                    <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
                </form>
                <div class="sidebar_link">
                    <a href="{% url 'index' %}">Home</a>
                </div>
                <div class="sidebar_link">
                    <a href="{% url 'newpage' %}">Create New Page</a>
                </div>
                <div class="sidebar_link">
                    <a href="{% url 'randompage' %}">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>